/*  4. State 3 - Anniversary Card */
#anniversaryCard {
    width: 800px;
    height: 450px;

    padding: 35px 40px;

    border-radius: 30px;

    background-color: #fff1cb;
}

#anniversaryCard h1 {
    text-align: center;
    margin-top: 0;
}

#anniversaryCard p {
    text-align: left;
    line-height: 1.4;
}