/*  1. Global Styles */

* {
    box-sizing: border-box;
   }

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    min-height: 100vh;

    background-color: #75172c;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #75172c;
   }

h1 {
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

p {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
   }


/*  2. State 1 - Opening */
#start {
    width: 800px;
    height: 450px;

    padding: 45px;

    border-radius: 30px;

    background-color: #fff1cb;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.startButtons {
    margin-top: auto;
}

#start h1 {
    margin: 0 0 10px;
}


#start p {
    margin: 0 0 25px;
}
 
#start button {
    width: 155px;
    height: 60px;
    margin: 0 18px;
}

/*  3. State 2 - Wrong Answer */
#wrongAnswer {
    width: 800px;
    height: 450px;

    padding: 30px;

    border-radius: 30px;

    background-color: #fff1cb;

    text-align: center;

    position: relative;
}

#wrongAnswer img {
    width: 170px;
    height: 150px;

    object-fit: cover;

    display: block;
    margin: 0 auto 20px;
}

#tryAgainBtn {
    position: absolute;

    bottom: 30px;
    right: 30px;
}

/*  4. State 3 - Anniversary Card */
#anniversaryCard {
    width: 800px;
    height: 450px;

    padding: 35px 40px;

    border-radius: 30px;

    background-color: #fff1cb;
}

#anniversaryCard h1 {
    text-align: center;
    margin-top: 0;
}

#anniversaryCard p {
    text-align: left;
    line-height: 1.4;
}

/*  5. State 4 - Relationship Counter */
#relationshipCounter {
    width: 500px;
    height: 550px;

    padding: 45px 25px;

    background-color: #fff1cb;

    border-radius: 30px;

    text-align: center;
}

#counterTime {
    background-color: #75172c;
    color: #ffffff;

    padding: 20px 10px;
    margin: 20px 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#counterTime {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/*  6. Button */
button {
    background-color: #fff5dd;
    color: #75172c;

    padding: 10px 20px;

    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;

    cursor: pointer;
}

/*  7. Responsive / Mobile */
@media (max-width: 600px) {

    #start,
    #wrongAnswer,
    #anniversaryCard {
        width: 90%;
    }

    #relationshipCounter {
        width: 90%;
    }

}

