/* =======================
Global Styles
========================== */
* {
    box-sizing: border-box;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    min-height: 100vh;

    background-color: #75172c;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #75172c;
}

/* Font Styling */
h1 {
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

p {
    font-family: "DM SerifDisplay", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/*  Button Styling */
button {
    background-color: #fff5dd;
    color: #75172c;

    padding: 10px 20px;
    border-radius: 5px;
    border: 4px solid #75172c;

    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}


/* =======================
Start Page Styling
========================== */
#start {
    width: 800px;
    height: 450px;

    padding: 50px;
    
    border-radius: 30px;
    border: 4px solid #0f0003;

    background-color: #fff1cb;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#start button {
    width: 250px;
    height: 100px;
    margin: 0 18px;
    font-size: 2rem;
    margin-top: auto;
}

#start h1 {
    margin: 0 0 10px;
    text-align: center;
    font-size: 4rem;
    margin-top: auto;
}

#start p {
    margin: 0 0 25px;
    font-size: 2rem;
}


/* =======================
Wrong Answer Page Styling
========================== */
#wrongAnswer {
    width: 800px;
    height: 450px;

    padding: 45px;
    
    border-radius: 30px;
    border: 4px solid #0f0003;

    background-color: #fff1cb;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#tryAgainBtn {
    width: 150px;
    height: 50px;
    margin: 0 18px;
    font-size: 1rem;
    margin-top: auto;
}

#wrongAnswer img{
    width: 300px;
    height: 280px;

    object-fit: cover;
    border: 3px solid #0f0003;
    border-radius: 10px;

    display: block;
    margin: 0 auto 20px;
}


/* =======================
Card Page Styling
========================== */
#anniversaryCard {
    width: 800px;
    height: 450px;

    padding: 20px;
    
    border-radius: 30px;
    border: 4px solid #0f0003;

    background-color: #fff1cb;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardBtn {
    width: 150px;
    height: 50px;
    margin: 0 18px;
    font-size: 1rem;
    margin-top: auto;
}

#anniversaryCard h1 {
    margin: 0 0 10px;
    text-align: center;
    font-size: 3rem;
    margin-top: auto;
}

#anniversaryCard p {
    margin: 0 0 20px;
    font-size: 1.3rem;
    text-align: left;
}


/* =======================
 Counter Page Styling
========================== */
#relationshipCounter {
    width: 800px;
    height: 450px;

    padding: 20px;
    
    border-radius: 30px;
    border: 4px solid #0f0003;

    background-color: #fff1cb;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#counter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: center;
    margin-top: auto;

    background-color: #75172c;
    color: #ffffff;
    border-radius: 10px;

    padding: 20px 10px;
    margin: 20px 0;
}

.timeBox span {
    font-size: 3rem;
}

.timeBox p {
    margin: 5px 0 0;
    font-size: 1.2rem;
}

#relationshipCounter h1 {
    margin: 0 0 10px;
    text-align: center;
    font-size: 3rem;
    margin-top: auto;
}

#backBtn {
    width: 150px;
    height: 50px;
    margin: 0 18px;
    font-size: 1rem;
    margin-top: auto;
}





/* Responsive / Mobile Settings */
@media (max-width: 600px) {

    #start,
    #wrongAnswer,
    #anniversaryCard,
    #relationshipCounter {
        width: 90%;
        height: auto;
        min-height: 500px;
        padding: 25px;
    }

    /* Start page */
    #start h1 {
        font-size: 2.8rem;
    }

    #start p {
        font-size: 1.5rem;
    }

    #start button {
        width: 200px;
        height: 70px;
        margin: 8px 0;
        font-size: 1.5rem;
    }

    /* Wrong answer page */
    #wrongAnswer img {
        width: 100%;
        max-width: 280px;
        height: auto;
    }

    #tryAgainBtn {
        width: 150px;
        height: 50px;
        margin: 10px 0;
    }

    /* Anniversary card */
    #anniversaryCard h1 {
        font-size: 2.3rem;
    }

    #anniversaryCard p {
        font-size: 1.1rem;
    }

    #cardBtn {
        width: 150px;
        height: 50px;
        margin: 10px 0;
    }

    /* Counter */
    #relationshipCounter h1 {
        font-size: 2.3rem;
    }

    #counter {
        width: 100%;
        gap: 5px;
        padding: 15px 5px;
    }

    .timeBox span {
        font-size: 2rem;
    }

    .timeBox p {
        font-size: 0.9rem;
    }

    #backBtn {
        width: 150px;
        height: 50px;
        margin: 10px 0;
    }
}