/*  Global Styles */

* {
    box-sizing: border-box;
   }

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    min-height: 100vh;

    background-color: #75172c;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #75172c;
   }


   /* Global Font Styling */
h1 {
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

p {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
   }



   /*  Button Styling */
button {
    background-color: #fff5dd;
    color: #75172c;

    padding: 10px 20px;
    border: 0px solid #0f0003;
    border-radius: 5px;

    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;

    cursor: pointer;
}

/*  Responsive / Mobile Settings */
@media (max-width: 600px) {

    #start,
    #wrongAnswer,
    #anniversaryCard {
        width: 90%;
    }

    #relationshipCounter {
        width: 90%;
    }

}

